<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

        <meta charset="UTF-8">
        <title>{% block title %}Rhymes CRM{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

